<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.board.mapper.PlanMapper">

	<select id="getAllPlanList" resultType="com.board.domain.PlanVo">
    
		SELECT * FROM TODO WHERE USERID=#{userid}
	</select>
    
	<select id="getActivePlanList" resultType="com.board.domain.PlanVo">
		SELECT * FROM TODO WHERE USERID=#{userid} AND complete_yn='N'
	</select>
    
	<select id="getCompletedPlanList" resultType="com.board.domain.PlanVo">
		SELECT * FROM TODO WHERE USERID=#{userid} AND complete_yn='Y'
	</select>
	
	<insert id="addPlanList">
		INSERT INTO TODO(
		    IDX,
			CONTENTS, 
			USERID
			) VALUES (
			( SELECT NVL(MAX(IDX), 0)+1  FROM TODO),
			#{contents}, 
			#{userid}
		)
	</insert>
	
	<delete id="deletePlan">
		DELETE FROM TODO WHERE IDX=#{idx} AND USERID=#{userid}
	</delete>
	
	<update id="updateComYnOfPlanList">
		{
			CALL updateComYnOfPlanList( #{idx} )
		}
	</update>
    
</mapper>
    