<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.board.mapper.UserMapper">

  <insert  id="loginForm">
     INSERT INTO TRAVEL_USER(
          INDATE,
          USERBIRTH,
          ADDRESS,
          ADDRESS2,
          EMAIL,
          USERID,
          PASSWD,
          USERNAME,
          NICKNAME
     ) VALUES (         
		  #{indate},
		  #{userbirth},
		  #{address},
		  #{address2},
		  #{email},
		  #{userid},
		  #{passwd},
		  #{username},
		  #{nickname}
     )
  </insert>

 <select id="loginCheck"
          resultType="com.board.domain.UserVo">
  	 
  	 SELECT    INDATE,
               USERBIRTH,
               ADDRESS,
               ADDRESS2,
               EMAIL,
               USERID,
               PASSWD,
               USERNAME,
               NICKNAME,
               ADMIN	         
  	  FROM     TRAVEL_USER
  	  WHERE    USERID = #{userid}
  
  </select>


<insert id="dailyInsert">
		INSERT INTO TRAVEL_DAY(
		    PLAN_DATE, 
			USERID
			) VALUES (
			#{plan_date},
			#{userid} 
		)
	</insert>

<insert id="dailyWeatherInsert">
		INSERT INTO TRAVEL_DAY(
		    PLAN_DATE, 
			USERID,
			TEMPMAX,
			TEMPMIN,
			DESCRIPTION
			) VALUES (
			#{plan_date},
			#{userid},
			#{tempMax},
			#{tempMin},
			#{description} 
		)
	</insert>

<insert id="dailyListInsert">
		INSERT INTO TRAVEL_DAY_FINAL(
		    PLAN_DATE, 
			USERID,
			TODAY_DATE
			) VALUES (
			#{plan_date},
			#{userid},
			#{today_date} 
		)
	</insert>


 <select id="dailyGet"
          resultType="com.board.domain.DailyVo">
  	 
  	 SELECT  *
     FROM TRAVEL_DAY
     WHERE USERID = #{userid}
     ORDER BY PLAN_DATE ASC
  	 
</select>

 <delete id="dailyDelete">
  
  	DELETE   FROM   TRAVEL_DAY
  	 WHERE   USERID = #{userid} 
  
  </delete>

 <delete id="dailyDateDelete">
  
  	DELETE   FROM   TRAVEL_DAY
  	 WHERE   PLAN_DATE = #{date} 
  
  </delete>

 <select id="dailyListGet">
  
   	 SELECT  *
     FROM TRAVEL_DAY_FINAL
     WHERE USERID = #{userid}
     ORDER BY PLAN_DATE ASC
  
  </select>
  
</mapper>












