<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.board.mapper.UserMapper">

  <insert  id="loginForm">
     INSERT INTO TRAVEL_USER(
          INDATE,
          USERBIRTH,
          ADDRESS,
          ADDRESS2,
          EMAIL,
          USERID,
          PASSWD,
          USERNAME,
          NICKNAME
     ) VALUES (         
		  #{indate},
		  #{userbirth},
		  #{address},
		  #{address2},
		  #{email},
		  #{userid},
		  #{passwd},
		  #{username},
		  #{nickname}
     )
  </insert>

 <select id="loginCheck"
          resultType="com.board.domain.UserVo">
  	 
  	 SELECT    INDATE,
               USERBIRTH,
               ADDRESS,
               ADDRESS2,
               EMAIL,
               USERID,
               PASSWD,
               USERNAME,
               NICKNAME,
               ADMIN	         
  	  FROM     TRAVEL_USER
  	  WHERE    USERID = #{userid}
  
  </select>


<insert id="dailyInsert">
		INSERT INTO TRAVEL_DAY(
		    PLAN_DATE, 
			USERID,
			TEMPMAX,
			TEMPMIN,
			DESCRIPTION,
		    MAIN
			
			) VALUES (
			#{plan_date},
			#{userid},
			#{tempMax},
			#{tempMin},
			#{description},
			#{main}		 
		)
	</insert>

<insert id="dailyWeatherInsert">
		INSERT INTO TRAVEL_DAY(
		    PLAN_DATE, 
			USERID,
			TEMPMAX,
			TEMPMIN,
			DESCRIPTION
			) VALUES (
			#{plan_date},
			#{userid},
			#{tempMax},
			#{tempMin},
			#{description} 
		)
	</insert>

<insert id="dailyListInsert">
		INSERT INTO TRAVEL_DAY_2(
		    TNO,
		    PLAN_DATE, 
			USERID,
			TODAY_DATE
			) VALUES (
			#{tno},
			#{plan_date},
			#{userid},
			#{today_date} 
		)
	</insert>


 <select id="dailyGet"
          resultType="com.board.domain.DailyVo">
  	 
  	 SELECT  *
     FROM TRAVEL_DAY
     WHERE USERID = #{userid}
     ORDER BY PLAN_DATE ASC
  	 
</select>

 <delete id="dailyDelete">
  
  	DELETE   FROM   TRAVEL_DAY
  	 WHERE   USERID = #{userid} 
  
  </delete>

 <delete id="dailyDateDelete">
  
  	DELETE   FROM   TRAVEL_DAY
  	 WHERE   PLAN_DATE = #{date} 
  
  </delete>

 <select id="dailyListGet">
  
   	 SELECT *
     FROM TRAVEL_DAY_2
     WHERE USERID = #{userid}
     AND TNO = (SELECT MAX(TNO) FROM TRAVEL_DAY_2 WHERE USERID = #{userid})
     ORDER BY PLAN_DATE ASC
  
  </select>


 <select id="dailynumGet">
  
   	 SELECT  MAX(TNO)+1
     FROM TRAVEL_DAY_2
     
  </select>
  
 <select id="gettno">
  
   	 SELECT  MAX(TNO)
     FROM TRAVEL_DAY_2
     WHERE USERID = #{userid}
     
  </select>  

 <select id="getDaily">
  
   	SELECT *
    FROM TRAVEL_DAY_2
    WHERE USERID = #{userid}
    AND TNO = (
    SELECT MAX(TNO)
    FROM TRAVEL_DAY_2
    WHERE USERID = #{userid}
    )
     
  </select>  
     
   <select id="GetUserPlanList">
  
   	 SELECT  *
     FROM TRAVEL_DAY3
     WHERE NUM = 1 AND USERID = #{userid}
     
  </select>  

   <select id="GetTnoPlanList">
  
   	 SELECT  *
     FROM TRAVEL_DAY3
     WHERE TNO = #{tno}
     ORDER BY PLAN_DATE ASC
     
  </select>  
  
  
  
  
  
   <select id="GetPlanList">
  
   	 SELECT  *
     FROM TRAVEL_DAY3
     WHERE NUM = 1
     ORDER BY TNO DESC
     
  </select>  
  
     <select id="getName">
  
   	 SELECT  NICKNAME
     FROM TRAVEL_USER
     WHERE USERID = #{userid}
     
  </select>  
  
  
  <insert id="planInsert">
		INSERT INTO TRAVEL_DAY3(
		    NUM,
		    TNO,
		    TITLES, 
			TIME1,
			CONT1,
			TIME2,
			CONT2,
			TIME3,
			CONT3,
			TIME4,
			CONT4,
			TIME5,
			CONT5,
			TIME6,
			CONT6,
			USERID,
			PLAN,
			TODAY_DATE,
            PLAN_DATE
			) VALUES (
			#{num},
			#{tno},
			#{titles},
			#{time1},
			#{cont1},
			#{time2},
			#{cont2},
			#{time3},
			#{cont3},
			#{time4},
			#{cont4},
			#{time5},
			#{cont5},
			#{time6},
			#{cont6},			
			#{userid},
			#{plan},
			#{today_date},
			#{plan_date}
		)
	</insert>
  
  
  
  
</mapper>












