<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.board.mapper.UserMapper">

  <insert  id="loginForm">
     INSERT INTO TRAVEL_USER(
          INDATE,
          USERBIRTH,
          ADDRESS,
          ADDRESS2,
          EMAIL,
          USERID,
          PASSWD,
          USERNAME,
          NICKNAME
     ) VALUES (         
		  #{indate},
		  #{userbirth},
		  #{address},
		  #{address2},
		  #{email},
		  #{userid},
		  #{passwd},
		  #{username},
		  #{nickname}
     )
  </insert>

 <select id="loginCheck"
          resultType="com.board.domain.UserVo">
  	 
  	 SELECT    INDATE,
               USERBIRTH,
               ADDRESS,
               ADDRESS2,
               EMAIL,
               USERID,
               PASSWD,
               USERNAME,
               NICKNAME,
               ADMIN	         
  	  FROM     TRAVEL_USER
  	  WHERE    USERID = #{userid}
  
  </select>


<insert id="dailyInsert">
		INSERT INTO TRAVEL_DAY(
		    PLAN_DATE, 
			USERID
			) VALUES (
			#{plan_date},
			#{userid} 
		)
	</insert>



</mapper>












